<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- 前端渲染 -->
    <div>
        <h1><%= tag %></h1>
        <ul id="wrap">
            <% news.forEach(e=>{ %>
                <li>
                    <h2> <%= e.title %> </h2>
                    <p> <%= e.intro %> </p>
                </li>
            <% }) %>
        </ul>
    </div>
    <img src="http://cms-bucket.nosdn.127.net/2018/11/10/e8e26a36ac9947f5b149d12bfbfe1b31.png?imageView&thumbnail=600y300&quality=85"
        alt="">
</body>

</html>